$green-color: #22a699;
$red-color: #db1010;
$orange-color: #f29727;
$yellow-color: #f2be22;
$black-color: #323232;
$second-color: #707a94;
$white-color: #ffffff;
$bg-color: #f5f5f5;
$border-color: #e2e2e2;
$link-turquoise-color: #22a599;
$active-link-menu-bg: #ecfffd;
$button-bg-color: #b9eee9;
$gray-bg-color: #f1f2f3;
$border-radius: 6px;
$font-600: 600;
$font-400: 400;
