@use '../../app/styles/_variables.scss' as variables;

#root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  width: 100%;
  background-color: variables.$bg-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: variables.$link-turquoise-color;
  text-decoration: inherit;

  &:hover {
    color: variables.$button-bg-color;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    color: variables.$button-bg-color;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.gray-row {
  background-color: variables.$gray-light-bg-color;
}

//antd styles

.ant-menu {
  font-weight: variables.$font-600;
}

.ant-btn-primary {
  box-shadow: 0 0 0 rgba(11, 99, 74, 0.16);
}

.ant-btn-default {
  box-shadow: 0 0 0 rgba(11, 99, 74, 0.16);
}

.ant-btn-link {
  color: variables.$link-turquoise-color;
  outline: none;

  &:hover {
    color: variables.$button-bg-color;
  }
}

:where(.css-dev-only-do-not-override-capl5l).ant-btn-link:not(:disabled):not(
    .ant-btn-disabled
  ):active {
  color: variables.$button-bg-color !important;
}

:where(.css-dev-only-do-not-override-capl5l)[class^='ant-col'],
:where(.css-dev-only-do-not-override-capl5l)[class*=' ant-col'] {
  font-family:
    Poppins,
    -apple-system,
    sans-serif !important;
  font-size: 14px !important;
  box-sizing: border-box !important;
  line-height: normal;
  color: #323232;
}

:where(.css-dev-only-do-not-override-capl5l).ant-input {
  font-family:
    Poppins,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

:where(.css-dev-only-do-not-override-capl5l).ant-btn-primary:disabled,
:where(.css-dev-only-do-not-override-capl5l).ant-btn-primary.ant-btn-disabled {
  border-color: variables.$button-bg-color;
  color: variables.$white-color;
  background-color: variables.$button-bg-color;
  font-size: 14px;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: variables.$active-link-menu-bg;
}

.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-inline,
.ant-menu-light.ant-menu-root.ant-menu-vertical,
.ant-menu-light > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-title {
  border-radius: 2px;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-submenu-title {
  padding-left: 14px !important;
}

.ant-menu ul,
.ant-menu ol {
  font-weight: variables.$font-400;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-submenu-title {
  width: calc(100% - 33px);
  margin: 0 16px;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

.ant-menu-inline > .ant-menu-item,
.ant-menu-vertical > .ant-menu-item,
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title,
.ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 38px;
  line-height: 44px;
}

.ant-form-item .ant-form-item-label > label {
  color: variables.$second-color;
}

.ant-input {
  color: variables.$second-color;
  border-color: variables.$border-table;
}

.ant-card .ant-card-body {
  border: 1px solid variables.$border-color;
  border-radius: 8px;
}
