@use '../../../../app/styles/variables' as variables;

.BannersForm {
  &__container {
    background-color: variables.$white-color;
    border-radius: 8px;
    border: 1px solid variables.$border-color;
    width: 532px;
    margin: 20px 24px;
    padding: 20px;
  }
  &__title {
    font-size: 20px;
    color: variables.$black-color;
    font-weight: variables.$font-600;
  }
  &__container_upload_file {
    width: 351px;
    margin: 20px 0;
  }
  &__container_time {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    input {
      width: 120px;
    }
  }
}
