@use '../../../../app/styles/variables' as variables;

.BreadcrumbComponent {
  > ol > li > a {
    color: variables.$link-turquoise-color;
    font-weight: variables.$font-400;
  }
  > ol > li:last-child {
    color: variables.$light-gray;
  }
}
