@use '../../../../app/styles/variables' as variables;

.SelectLanguageCard {
  &__lang-block {
    width: 310px !important;
  }

  &__language-item {
    background-color: variables.$gray-light-bg-color;
    border: none;
    margin-top: 8px;
    > div {
      border: none !important;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      padding: 10px !important;
    }
  }

  .active-border {
    border: 1px solid variables.$title-color;
  }

  &__button-info {
    width: 240px;
    height: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__radio-styles {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .radio-group-button > span > span {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../../assets/images/svg/icons/default/check.svg') no-repeat center center;
    background-size: contain;
    margin-right: -3px;
    border-color: transparent;
    background-color: transparent;
  }

  &__button-block {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    > button {
      margin-top: 8px;
    }
  }

  &__cancel-button {
    background-color: variables.$gray-light-bg-color;
    color: variables.$black-color;
    border: none;
  }
}
