@use '../../../../../app/styles/variables' as variables;

.CreateEditConnector {

  &__add-connector-btn {
    width: 100%;
    margin-top: 20px;
  }

  .ant-form-item {
    margin-bottom: 15px;
  }

  &__rate-connector {
    .ant-form-item {
      margin-bottom: 4px;
    }

    > p {
      font-size: 10px;
      font-weight: variables.$font-400;
      color: variables.$second-color;
      margin-bottom: 15px;
    }
  }
}
