@use '../../../app/styles/variables' as variables;

.TableComponent {
  .ant-table-wrapper .ant-table-cell,
  .ant-table-wrapper .ant-table-thead > tr > th,
  .ant-table-wrapper .ant-table-tbody > tr > th,
  .ant-table-wrapper .ant-table-tbody > tr > td,
  .ant-table-wrapper tfoot > tr > th,
  .ant-table-wrapper tfoot > tr > td {
    padding: 9px 12px;
  }

  .ant-table-wrapper .ant-table {
    font-size: 12px;
  }

  .ant-table-wrapper .ant-table-tbody > tr > th,
  .ant-table-wrapper .ant-table-tbody > tr > td {
    position: relative;
  }

  .ant-table-wrapper .ant-table-tbody > tr > th:not(:first-child):not(:last-child)::before,
  .ant-table-wrapper .ant-table-tbody > tr > td:not(:first-child):not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    top: calc((100% - 15px) / 2);
    width: 1px;
    height: 15px;
    background-color: variables.$border-table;
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-table-wrapper table {
    border-radius: initial;
    border: 1px solid variables.$border-table;
  }

  .ant-table-measure-row {
    display: none;
  }
}
