@use '../../../../app/styles/_variables.scss';
@use '../../../../app/styles/_mixins.scss';

.LayoutComponent {
  > aside {
    max-height: 100vh;
  }

  > div {
    max-height: 100vh;
  }

  &__logo-button-block {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;

    &--smallScreen {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__button-style {
    padding: 0;
  }

  &__menu-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83%;
  }

  &__header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid variables.$gray-bg-color;
  }

  &__select-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > div {
      margin-bottom: 0;
    }
  }

  @include mixins.bp(large) {
    &__menu-block {
      height: 88%;
    }
  }
}
